html {
    background-color: #000000; 
    background-image: url('https://www.transparenttextures.com/patterns/use-your-illusion.png');
}

h1 {
    text-align: center; 
    color: white; 
    font-family: 'Courier New', Courier, monospace; 
    font-size: 50;
}

.projectButton {
    width: 200px;
    height: 40px;
    background-color: #161616;
    color: white;
    border: 1px solid rgb(49, 49, 49);
}

.projectButton:hover {
    background-color: #3f3f3f;
    color: white;
    border: 1px solid rgb(49, 49, 49);
}


.buttonArea {
    display: flex;
    justify-content: center;
    align-self: center;
}